:root {
    --border-radius: 15px;
    --border-size: 2px;
    --spacing: 2px;
    --spacing-color: #000000;
    --accent-color: #16b673;
    --immersive: 0;
    --font: 'FiraCode Nerd Font Mono', Consolas, 'Courier New', monospace;
}

.titlebar-center {
    font-family: var(--font);
}

.monaco-workbench {
    font-family: var(--font);
    font-weight: 500 !important;
    background-color: var(--spacing-color) !important;
}

.part.activitybar {
    &.bordered.left {
        border-top-right-radius: var(--border-radius) !important;
        border-bottom-right-radius: var(--border-radius) !important;
        border: 0px solid transparent !important;
        margin-left: calc(var(--spacing) * 2) !important;
    }

    &.bordered.right {
        border-top-left-radius: var(--border-radius) !important;
        border-bottom-left-radius: var(--border-radius) !important;
        border: 0px solid transparent !important;
        margin-right: calc(var(--spacing) * 2) !important;
    }
}

.part.sidebar,
.part.auxiliarybar {
    border-radius: var(--border-radius) !important;
    display: flex;
    flex-direction: column;
    padding: 0px 5px !important;
    border: var(--border-size) solid var(--accent-color) !important;

    &.left {
        margin-top: calc(var(--spacing) * 2) !important;
        margin-bottom: calc(var(--spacing) * 2) !important;
        margin-right: calc(var(--spacing) * 1) !important;
        margin-left: calc(var(--spacing) * 2) !important;
        width: calc(100% - var(--spacing) * 3) !important;
        height: calc(100% - var(--spacing) * 4) !important;
    }

    &.right {
        margin-top: calc(var(--spacing) * 2) !important;
        margin-bottom: calc(var(--spacing) * 2) !important;
        margin-right: calc(var(--spacing) * 2) !important;
        margin-left: calc(var(--spacing) * 1) !important;
        width: calc(100% - var(--spacing) * 3) !important;
        height: calc(100% - var(--spacing) * 4) !important;
    }

    * {
        max-width: 100%;
    }

    .search-view .search-widgets-container,
    .search-view .search-widget .replace-container {
        width: calc(100% - var(--spacing) * 3 - 10px) !important;
    }

    .monaco-button-dropdown .monaco-button-dropdown-separator {
        display: none !important;
    }

    .composite.title {
        height: 20px !important;
        display: flex;
        padding: 0px;
        margin: 0px;
        align-items: center;
    }

}

.extensions-viewlet>.header>.extensions-search-container>.extensions-search-actions-container {
    right: 10px !important;
}



.part.editor {
    margin-top: calc(var(--spacing) * 2) !important;
    margin-bottom: calc(var(--spacing) * 2) !important;
    margin-right: calc(var(--spacing) * 1) !important;
    margin-left: calc(var(--spacing) * 1) !important;
    width: calc(100% - var(--spacing) * 2) !important;
    height: calc(100% - var(--spacing) * 4) !important;
    border-radius: var(--border-radius) !important;
    border: var(--border-size) solid var(--accent-color) !important;

    /* -----some adjustments----- */
    >.content .editor-group-container>.title {
        width: calc(100% - var(--spacing) * 4) !important;

        .editor-actions {
            position: unset !important;
            top: 0 !important;
        }
    }

    .scrollbar.vertical {
        margin-right: var(--spacing);
    }

}

.part.panel {
    border-radius: var(--border-radius) !important;
    display: flex;
    flex-direction: column;
    padding: 0px 0px !important;
    border: var(--border-size) solid var(--accent-color) !important;

    &.bottom {
        margin-top: calc(var(--spacing) * 0) !important;
        margin-bottom: calc(var(--spacing) * 0) !important;
        margin-right: calc(var(--spacing) * 1) !important;
        margin-left: calc(var(--spacing) * 1) !important;
        width: calc(100% - var(--spacing) * 2) !important;
        height: calc(100% - var(--spacing) * 2) !important;
    }

    &.top {
        margin-top: calc(var(--spacing) * 0) !important;
        margin-bottom: calc(var(--spacing) * 0) !important;
        margin-right: calc(var(--spacing) * 1) !important;
        margin-left: calc(var(--spacing) * 1) !important;
        width: calc(100% - var(--spacing) * 2) !important;
        height: calc(100% - var(--spacing) * 2) !important;
    }

    /* -----some adjustments----- */
    .monaco-list-row {
        max-width: 100% !important;
    }

    .integrated-terminal .tabs-container {
        width: calc(100% - var(--spacing) * 4 - 10px) !important;
    }

    .repl:has(div.repl-tree.monaco-mouse-cursor-text.word-wrap) {
        display: flex;
        flex-direction: column-reverse;

        .repl-input-wrapper {
            position: absolute;
        }
    }
}

.monaco-list-row,
.monaco-list-row.selected,
.monaco-list-row.focused,
.monaco-list.mouse-support,
.part.sidebar .pane-header,
.part.auxiliarybar .pane-header,
.monaco-menu .action-item a.focused,
.monaco-menu .action-item a:hover,
.monaco-button,
.notifications-center,
.notification-toast,
.notification-fade-in-done,
.monaco-inputbox,
.monaco-hover,
.suggest-details,
.suggest-widget,
.monaco-editor .find-widget,
.suggest-input-container,
.editor-widget.suggest-widget.visible,
.suggest-details,
.notificatin .editor-widget.parameter-hints-widget.visible {
    border-radius: 6px !important;
    margin-right: 4px !important;
    max-width: calc(100% - 4px) !important;
}

.part.editor .tabs-container {
    padding: 7px 0px;

    >* {
        border-radius: 7px !important;
        border: 1px solid transparent !important;
        margin: 0px 7px !important;
    }

    .tab.selected {
        border-radius: 7px !important;
        background-color: rgb(from var(--accent-color) r g b / 0.22) !important;
        border: 1px solid rgb(from var(--accent-color) r g b / 0.0) !important;
        box-shadow: rgba(0, 0, 0, 0.20) 0px 20px 25px -5px,
            rgba(0, 0, 0, 0.25) 0px 10px 10px -5px !important;
    }

    .tab-border-top-container,
    .tab-border-bottom-container {
        display: none !important;
    }
}

.part.activitybar ul[role=tablist] .action-item.checked .action-label::after {
    width: 80%;
    height: 80%;
    position: absolute;
    border-radius: 6px;
    content: '';
    background-color: rgb(from var(--accent-color) r g b / 0.22);
    box-shadow: rgba(0, 0, 0, 0.20) 0px 20px 25px -5px,
        rgba(0, 0, 0, 0.25) 0px 10px 10px -5px !important;
}

.part.auxiliarybar ul[role=tablist] .action-item,
.part.sidebar ul[role=tablist] .action-item {

    /* &.action-item:hover .action-label::after, */
    &.action-item.checked .action-label::after {
        content: '';
        width: 110%;
        height: 75%;
        position: absolute;
        left: 1px !important;
        border-radius: 6px;
        background-color: rgb(from var(--accent-color) r g b / 0.22);
        box-shadow: rgba(0, 0, 0, 0.20) 0px 20px 25px -5px,
            rgba(0, 0, 0, 0.25) 0px 10px 10px -5px !important;
    }

    .active-item-indicator {
        display: none;
    }

    .action-label.codicon {
        font-size: 20px;
    }

    .action-label:not(.codicon) {
        font-size: 13px;
    }
}

.part.sidebar .pane-header.expanded,
.part.auxiliarybar .pane-header.expanded {
    background-color: rgb(from var(--accent-color) r g b / 0.11) !important;
    border-radius: 6px !important;
    border: 2px solid var(--vscode-sideBar-background) !important;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 20px 25px -5px,
        rgba(0, 0, 0, 0.25) 0px 10px 10px -5px !important;
}

.part.panel .action-item.checked {
    height: 60%;
    border-radius: 7px !important;
    background-color: rgb(from var(--accent-color) r g b / 0.22) !important;
    border: 1px solid rgb(from var(--accent-color) r g b / 0.0) !important;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 20px 25px -5px,
        rgba(0, 0, 0, 0.25) 0px 10px 10px -5px !important;

    .active-item-indicator {
        display: none !important;
    }
}

.scrollbar.vertical .slider {
    width: 4px !important;
    border-radius: 2px !important;
    cursor: grab !important;

    &:hover {
        width: 6px !important;
        border-radius: 3px !important;
    }

    &:active {
        cursor: grabbing !important;
    }
}

.scrollbar.horizontal .slider {
    height: 4px !important;
    border-radius: 2px !important;
    cursor: grab !important;

    &:hover {
        height: 6px !important;
        border-radius: 3px !important;
    }

    &:active {
        cursor: grabbing !important;
    }
}

.minimap-slider {
    border-radius: 4px !important;
    cursor: grab !important;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 20px 25px -5px,
        rgba(0, 0, 0, 0.25) 0px 10px 10px -5px !important;

    &:active {
        cursor: grabbing !important;

    }
}

.part.sidebar .composite-bar-container,
.part.auxiliarybar .composite-bar-container {
    .composite-bar {
        width: 100%;
    }

    .actions-container {
        justify-content: space-evenly !important;
    }
}

.monaco-editor .margin-view-overlays .current-line-exact-margin {
    background-color: rgb(from var(--accent-color) r g b / 0.11) !important;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 20px 25px -5px,
        rgba(0, 0, 0, 0.25) 0px 10px 10px -5px !important;
    border-radius: 7px !important;
    margin-left: 7px !important;
    max-width: 77% !important;
    max-height: 95% !important;
}

.monaco-workbench .part.sidebar>.title>.title-label h2,
.monaco-workbench .part.auxiliarybar>.title>.title-label h2 {
    color: var(--vscode-sideBarTitle-foreground) !important;
    /* text-transform: none !important; */
    font-weight: 800;
    font-size: 0px;
}

.monaco-workbench .part.sidebar>.title>.title-label {
    padding-left: 20px;
}

.quick-input-filter .monaco-inputbox {
    border-radius: 8px !important;
    padding: 4px !important;
    background-color: var(--vscode-editor-background) !important;
    font-size: 14px !important;
    margin-bottom: 16px !important;
}

.monaco-editor .find-widget {
    top: 10px !important;
    border-radius: 6px !important;
    border: 1px solid var(--vscode-editorWidget-border) !important;
}

.editor-group-watermark .shortcuts {
    display: none !important;
}

.part.titlebar .window-appicon {
    display: none;
}

.part.titlebar .action-label.codicon:hover {
    color: var(--accent-color) !important;
}

.colorpicker-color-decoration {
    border: none !important;
    border-radius: 30% !important;
}

.part.statusbar {
    border: var(--border-size) solid var(--accent-color) !important;
    border-radius: var(--border-radius);
    font-family: var(--font);
    font-weight: normal;
    font-style: normal;
    font-variant-ligatures: normal;
    font-feature-settings: "liga" 1;
    letter-spacing: 0;
    font-display: block;

    .codicon-error {
        color: #ff3377 !important;
    }

    .codicon-warning {
        color: #cccc00 !important;
    }

    .codicon-git-branch {
        color: #9988ff !important
    }

    .codicon-sync {
        color: #11cc99 !important;
    }

    .codicon-bell,
    .codicon-bell-dot {
        color: #0e80c0 !important;
    }
}

.monaco-icon-label::before {
    background-size: 20px;
}

.part.titlebar .titlebar-center,
.part.titlebar .titlebar-right,
.part.titlebar .menubar,
.part.statusbar .items-container {
    opacity: calc(1 - var(--immersive)) !important;
    transition: all 0.25s;

    &:hover {
        opacity: 1;
    }
}

.codicon-settings-view-bar-icon {
    transition: transform 250ms cubic-bezier(1, 1, 1, 1);

    &.codicon-settings-view-bar-icon:hover {
        transform: rotate(90deg);
        background-color: transparent !important;
    }
}

.line-numbers.active-line-number {
    transform: scale(1.5) translateX(-3px);
    animation: .25s ease-in-out scaleSize;
}

@keyframes scaleSize {
    0% {
        transform: scale(1)
    }

    100% {
        transform: scale(1.5) translateX(-3px);
    }
}

.monaco-workbench .part.editor>.content .editor-group-container>.title {
    background-color: #000 !important;
}